<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodboxAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pod box.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA460E7D1E8D96C0005462B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD0038A1DF2AECD0062A3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD003A31DF2AECE0062A3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD003AE1DF2AECE0062A3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
