<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cutlery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA4F89901D669053007A5D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4F89A91D669053007A5D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4F89B41D669053007A5D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
